{% extends "layouts/default.html" %}

{% load cmsnews thumbnail sekizai_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block whole_content %}
    {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet" />
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/lightbox.min.js"></script>
    {% endaddtoblock %}

    <div class="pull-right" style="padding-top: 22px;">
    {% for category in object.news_categories.all %}
        <a class="btn btn-primary btn-sm"
           href="{% newscategory_url category.pk %}">{{ category.title }}</a>
    {% endfor %}
    </div>

    <h1>{{ object.title }}</h1>
    <small class="align-right">{{ object.news_date }}</small>
    <h4>{{ object.abstract }}</h4>

    {% if object.content %}
    <div>
      {{ object.content }}
    </div>
    {% endif %}

    {% if object.youtube_id %}
        <div class="ytplayer">
            <iframe type="text/html" width="640" height="390"
              src="http://www.youtube.com/embed/{{ object.youtube_id }}"
              frameborder="0"/>
        </div>

        <div class="clearfix"></div>
    {% endif %}

    {% if object.get_first_image != None %}
    <div id="masonry-container">
        {% for newsimage in object.newsimage_set.all %}
            <div class="masonry-item news-image">
                <a href="{{ MEDIA_URL }}{{ newsimage.image }}" data-lightbox="{{ object.title }}">
                    <img src="{{ newsimage.image|thumbnail_url:'thumb' }}" alt="{{ object.title }}" />
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="clearfix"></div>

    <hr>

    <a href="{% newsitem_url next.slug %}"
       class="pull-right btn btn-secondary btn-lg"
       title="{{ next.title }}">
       Weiter
      <i class="fa fa-angle-double-right"></i>
    </a>
    <a href="{% newsitem_url previous.slug %}"
       class="btn btn-secondary btn-lg"
       title="{{ previous.title }}">
      <i class="fa fa-angle-double-left"></i>
      Zurück
    </a>
{% endblock %}
