{% extends "layouts/sidebar_left.html" %}
{% load cms_tags sekizai_tags thumbnail cmsnews %}

{% block title %}News{% endblock %}

{% block sidebar %}
    {% include "djangocms_news/news_filter.html" with filter_tag='news'  %}
{% endblock %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/masonry.css">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/imagesloaded.pkgd.min.js"></script>
        <script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.history.js"></script>
    {% endaddtoblock %}

    <h1>News</h1>
    <div id="masonry-loader">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
    <div id="masonry-container">
        {% for news in object_list %}
            {% if news.active %}
                <div class="masonry-item one-third{% for cat in news.news_categories.all %} news-{{ cat.pk }}{% endfor %}">
                    <div class="masonry-item-image">
                        {% if news.content or news.has_multiple_images %}<a href="{% newsitem_url news.slug %}">{% endif %}
                            {% if news.newsimage_set.all %}
                                {% with news.newsimage_set.all|first as newsimage %}
                                    <img src="{{ newsimage.image|thumbnail_url:'masonry' }}" alt="{{ news.title }}" />
                                {% endwith %}
                            {% endif %}
                            <div class="masonry-item-title">{{ news.title }}
                                {% if news.content or news.has_multiple_images %} <i class="fa fa-angle-double-right"></i>{% endif %}
                            </div>
                        {% if news.content or news.has_multiple_images %}</a>{% endif %}
                    </div>

                    <div class="masonry-item-description">
                        {% if news.abstract %}
                            {{ news.abstract }}
                        {% else %}
                            {{ news.content }}
                        {% endif %}
                        {% if news.content or news.has_multiple_images %}
                            <a class="pull-right" href="{% newsitem_url news.slug %}">Mehr...</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="masonry-no-content">
        <i class="fa fa-meh-o fa-5x fa-fw"></i> <span>Keine Inhalte gefunden!</span>
    </div>
    <div id="masonry-pagination">
        {% include 'djangocms_news/news_pagination.html' %}
    </div>
{% endblock %}