{% extends "layouts/default.html" %}

{% load cmsnews thumbnail sekizai_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block whole_content %}
    {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet" />
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/lightbox.min.js"></script>
    {% endaddtoblock %}

    <h1>{{ object.title }} {% if object.price %}<p class="bg-primary news-price">{{ object.price }}</p>{% endif %}</h1>
    <small>{{ object.news_date }}</small>
    <h4>{{ object.abstract }}</h4>

    <div>
      {{ object.content }}
    </div>

    {% if object.youtube_id %}
        <div class="ytplayer">
            <iframe type="text/html" width="640" height="390"
              src="http://www.youtube.com/embed/{{ object.youtube_id }}"
              frameborder="0"/>
        </div>

        <div class="clearfix"></div>
    {% endif %}

    {% if object.get_first_image != None %}
        <div class="news-images">
            {% for newsimage in object.newsimage_set.all %}
                <a href="{{ MEDIA_URL }}{{ newsimage.image }}" data-lightbox="{{ object.title }}">
                    <img src="{{ newsimage.image|thumbnail_url:'thumb' }}" alt="{{ object.title }}" />
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <div class="clearfix"></div>

    {% for category in object.news_categories.all %}
        <a href="{% newscategory_url category.pk %}">Zurück zur News-Kategorie "{{ category.title }}"</a><br />
    {% endfor %}

    <a href="{% newsitem_url previous.slug %}"><i class="fa fa-angle-double-left"></i>&nbsp;Vorheriger Newsbeitrag</a>
    &nbsp; | &nbsp;
    <a href="{% newsitem_url next.slug %}">Nächster Newsbeitrag&nbsp;<i class="fa fa-angle-double-right"></i></a>
{% endblock %}